<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>EasyMat - help</title>
<link rel="stylesheet" href="static/css/style.css" type="css/text">
</head>
<body>
    {% include 'header.html' %}
    <div class="page">
    	<h2>EasyMat使用帮助</h2>
    	<p class="paragraph">EasyMat为一款类Matlab的绘图应用，主程序采用类命令行的窗口，可以生成jpg、png、pdf等多种格式的函数图像，可以满足绝大部分的函数绘图需求，从而为用户提供了极大的便利。</p>
    	<p class="paragraph">用户可以在左侧的输入区域逐行输入绘图命令并回车，然后在右侧输入想要得到的文件名并选择文件类型，然后输入回车，即可生成函数图像。文件名默认为default.*,如果用户输入的文件名为空，则会使用默认文件名。如：</p>
    	<p class="code">
    		<span>&gt;&gt;&gt;&nbsp;Welcome to EasyMat!</span><br />
    		<span>&gt;&gt;&gt;&nbsp;hello world</span><br />
    		<span>&gt;&gt;&gt;&nbsp;hello world</span><br />
    		<span>&gt;&gt;&gt;&nbsp;hello world</span><br />
    		<span>&gt;&gt;&gt;&nbsp;</span>
    	</p>
    	<p class="paragraph">然后输入draw命令即可进行绘图。若输入clear命令，则清除之前的所有命令，重新开始输入。可生成如下函数图像：</p>
    	<img src="media/img/example-1.png" alt="image" class="function-img" />
    	<img src="media/img/example-2.png" alt="image" class="function-img" />
    </div>
</body>
</html>